@import "reset.scss";

#app {
   display: flex;
   flex-direction: column;
   min-height: 100vh;
}

body {
   font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
}

.main {
   flex: 1 1 auto;
   background-repeat: no-repeat;
   background-position: 0px 230px;
   background-size: 400px;

   .error-404:before {
      content: '';
      position: absolute;
      width: 500px;
      height: 40%;
      background-color: #ffff;
   }
}

.container {
   max-width: 1180px;
   margin: 0 auto;
}

.main-title {
   color: #1c537a;
   font-weight: 700;
   text-shadow: 2px 2px 0px #fff, 5px 4px 0px rgba(0, 0, 0, 0.15);
}

.polaroid {
   margin: 10px 0px;
   padding: 5px;
   width: 90%;
   display: flex;
   flex-direction: column;
   align-items: center;
   background-color: rgba(190, 190, 190, 0.5);

   &__img {
      width: 100%;
      object-fit: cover;
   }

   &__text {
      padding: 5px 5px;
      text-align: center;
   }
}


.blue-button {
   border-radius: 3px;
   border: 1px solid darken(#fff, 20%);
   background-image: linear-gradient(to right,
         #336ec7 0%,
         #ffffff 70%,
         #336ec7 100%);
   transition: 0.7s;
   background-size: 500% auto;

   &:hover {
      background-position: right center;
   }
}

//.mobile__btn {
//   align-self: center;
//   width: 40px;
//   height: 40px;
//   border-radius: 20px;
//   background-color: #fff;
//   position: relative;
//   color: #464646;
//   transition: all 0.5s;

//   &::after {
//      content: '';
//      width: 15px;
//      height: 3px;
//      border-radius: 1px;
//      background-color: #464646;
//      position: absolute;
//      top: 32%;
//      left: 30%;
//      box-shadow: 0 6px 0 0 #464646, 0 12px 0 0;
//   }

//   &:hover {
//      background: #888888;
//   }
//}

.land {
   &__selected {
      border: 1px solid #fff;
      background: #fff;
   }

   &__ua,
   &__ru {
      font-size: 12px;
      border: 1px solid #e7ecef;
      min-height: 20px;
      min-width: 40px;
      border-radius: 10px;
      transition: all 0.2s ease-in-out;
      color: #1c537a;

      &:hover {
         border: 1px solid #fff;
         background: #fff;
      }
   }
}

@media (max-width: 768px) {
   .main {
      padding-top: 100px;
   }
}

@media (max-width: 500px) {
   .main {
      padding-top: 90px;
   }
}

@media (max-width: 420px) {
   .main {
      padding-top: 83px;
   }
}

@media (max-width: 390px) {
   .main {
      padding-top: 79px;
   }
}

@import "default.scss";